<nav class="navbar">
    <a href="/">
        <h1>Omni-Food</h1>
    </a>
    <div>
        <a href="/create"><button>Create Item</button></a>
        <a href="/categories"><button>View Categories</button></a>
    </div>
</nav>